<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://datawise.africa/files/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://datawise.africa/private/files/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="https://datawise.africa/private/files/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="https://datawise.africa/private/files/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://datawise.africa/private/files/responsive.css">
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="https://datawise.africa/files/loader.gif" alt="loder">
      </div>
        </div>
        <!-- loading End -->
        <!--=================================
    MAIN CONTENT -->
        <div class="main-content">
            <!--=================================
      Error -->
            <div class="error-box">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="error text-center">
                                <img src="https://datawise.africa/files/error-404.png" alt="image"><br>
                                <a href="index.html" class="button mt-5 mr-2">Go to Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=================================
      Error -->
        </div>
        <!--=================================
    MAIN CONTENT -->
        <!-- Optional JavaScript -->
        <!-- jQuery first -->
        <script src="https://datawise.africa/private/files/jquery-3.3.1.min.js"></script>
        <!-- popper -->
        <script src="https://datawise.africa/private/files/popper.min.js"></script>
        <!-- bootstrap -->
        <script src="https://datawise.africa/private/files/bootstrap.min.js"></script>
        <!-- chatbot -->
        <script src="https://datawise.africa/private/files/chatbot.js"></script>
        <!-- countdown -->
        <script src="https://datawise.africa/private/files/countdown.js"></script>
        <!-- Magnific-popup JavaScript -->
        <script src="https://datawise.africa/private/files/jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel -->
        <script src="https://datawise.africa/private/files/owl.carousel.min.js"></script>
        <!-- Wow -->
        <script src="https://datawise.africa/private/files/wow.min.js"></script>
        <!-- jquery.countTo -->
        <script src="https://datawise.africa/private/files/counto.js"></script>
        <!--custom -->
        <script src="https://datawise.africa/private/files/custom.js"></script>
</body>

</html>
</div>