<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vizion-Al/ML-Data Analysis Responsive HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
      </div>
        </div>
        <!-- loading End -->
        <!-- Header-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" class="img-fluid logo" alt="img">
                <img src="images/logo-white.png" class="img-fluid logo-white" alt="img">
              </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about-us.html">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="features.html">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact Us</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pages
                    </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="login.html">Login</a>
                                            <a class="dropdown-item" href="register.html">Register</a>
                                            <a class="dropdown-item" href="pricing.html">Pricing</a>
                                            <a class="dropdown-item" href="blog.html">Blog</a>
                                            <a class="dropdown-item active" href="blog-details.html">Blog Details</a>
                                            <a class="dropdown-item" href="feedback.html">Feedback</a>
                                            <a class="dropdown-item" href="404-error.html">404 Error</a>
                                            <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                                            <a class="dropdown-item" href="privacy-policy.html">Privacy-Policy</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header-->
        <!-- About -->
        <section class="iq-breadcrumb-five main-bg">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="mb-0">
                            <h2 class="title"> Blog Details</h2>
                            <nav aria-label="breadcrumb" class="">
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="fa fa-home" aria-hidden="true"></i>Home
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">Blog Details</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" iq-breadcrumb3 text-left main-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-12">
                        <div class="mb-0">
                            <h1 class="text-white">Blog Details</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <nav aria-label="breadcrumb" class="text-right">
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item"><a href="index.html"><i class="ion-android-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img class="img-fluid iq-breadcrumb3-after" src="images/about/about-shap.png" alt="image">
    </section>
            <!-- About End -->
            <!--=================================
    MAIN CONTENT -->
            <div class="main-content">
                <!--=================================
      Blog -->
                <section>
                    <div class="blogdetailbox">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12 col-sm-12 order-lg-2 order-2">
                                    <div class="iq-post-sidebar iq-rmt-30">
                                        <div class="iq-sidebar-widget search-box wow fadeInUp" data-wow-duration="1.0s">
                                            <div class="iq-widget-search"> <i class="ion-ios-search"></i>
                                                <input type="search" placeholder="Search" class="form-control placeholder">
                                            </div>
                                        </div>
                                        <div class="iq-sidebar-widget wow fadeInUp" data-wow-duration="1.0s">
                                            <h5>Recent Articles</h5>
                                            <div class="iq-widget-menu mt-4">
                                                <div class="list-inline iq-widget-menu">
                                                    <ul class="iq-post">
                                                        <li class="mt-3">
                                                            <div class="post-img"> <img src="images/blog/blog-detail/01.jpg" alt="#"> </div>
                                                                <div class="post-blog">
                                                                    <div class="blog-box">
                                                                        <ul>
                                                                            <li>By: <a href="#">Admin</a></li>
                                                                            <li>May 10, 2018</li>
                                                                        </ul>
                                                                    </div>
                                                                    <a href="#">Consectetur adipiscing elit</a>
                                                                </div>
                                                        </li>
                                                        <li class="mt-3">
                                                            <div class="post-img"> <img src="images/blog/blog-detail/02.jpg" alt="#"> </div>
                                                                <div class="post-blog">
                                                                    <div class="blog-box">
                                                                        <ul>
                                                                            <li>By: <a href="#">Admin</a></li>
                                                                            <li>May 10, 2018</li>
                                                                        </ul>
                                                                    </div>
                                                                    <a href="#">Eiusmod tempor incididunt</a>
                                                                </div>
                                                        </li>
                                                        <li class="mt-3">
                                                            <div class="post-img"> <img src="images/blog/blog-detail/03.jpg" alt="#"> </div>
                                                                <div class="post-blog">
                                                                    <div class="blog-box">
                                                                        <ul>
                                                                            <li>By: <a href="#">Admin</a></li>
                                                                            <li>May 10, 2018</li>
                                                                        </ul>
                                                                    </div>
                                                                    <a href="#">Ut enim ad minim</a>
                                                                </div>
                                                        </li>
                                                        <li class="mt-3">
                                                            <div class="post-img"> <img src="images/blog/blog-detail/04.jpg" alt="#"> </div>
                                                                <div class="post-blog">
                                                                    <div class="blog-box">
                                                                        <ul>
                                                                            <li>By: <a href="#">Admin</a></li>
                                                                            <li>May 10, 2018</li>
                                                                        </ul>
                                                                    </div>
                                                                    <a href="#">Quis nostrud exercitation</a>
                                                                </div>
                                                        </li>
                                                        <li class="mt-3">
                                                            <div class="post-img"> <img src="images/blog/blog-detail/05.jpg" alt="#"> </div>
                                                                <div class="post-blog">
                                                                    <div class="blog-box">
                                                                        <ul>
                                                                            <li>By: <a href="#">Admin</a></li>
                                                                            <li>May 10, 2018</li>
                                                                        </ul>
                                                                    </div>
                                                                    <a href="#">Excepteur sint occaecat</a>
                                                                </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="iq-sidebar-widget wow fadeInUp" data-wow-duration="1.0s">
                                            <h5>Tags</h5>
                                            <ul class="iq-tag list-inline mt-4">
                                                <li class="mt-3"><a href="#">Bootstrap</a>(1)</li>
                                                <li class="mt-3"><a href="#">HTML5</a>(5)</li>
                                                <li class="mt-3"><a href="#">Wordpress</a>(3)</li>
                                                <li class="mt-3"><a href="#">CSS3</a>(7)</li>
                                                <li class="mt-3"><a href="#">Creative</a>(6)</li>
                                                <li class="mt-3"><a href="#">Multipurpose</a>(2)</li>
                                                <li class="mt-3"><a href="#">Bootstrap</a>(7)</li>
                                                <li class="mt-3"><a href="#">HTML5</a>(4)</li>
                                                <li class="mt-3"><a href="#">Wordpress</a>(2)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-12 col-sm-12 order-lg-1 order-2 re-space">
                                    <div class="iq-blogbox">
                                        <div class="iq-blog-entry">
                                            <div class="row">
                                                <div class="col-md-2 text-center">
                                                    <span class="date">12<small>Aug</small></span>
                                                    <ul class="media-box mt-4">
                                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="iq-entry-image">
                                                        <img class="img-fluid wow fadeInUp" data-wow-duration="1.0s" src="images/blog/blog-detail/b1.jpg" alt="image">
                        </div>
                                                        <div class="iq-blog-detail mt-5">
                                                            <div class="iq-entry-tag wow fadeInUp" data-wow-duration="1.0s">
                                                                <span> fashion</span>
                                                                <span> style</span>
                                                            </div>
                                                            <div class="iq-entry-title wow fadeInUp" data-wow-duration="1.0s">
                                                                <h5>Established fact that a reader will be</h5>
                                                                <div class="blog-box">
                                                                    <ul>
                                                                        <li>By: <a href="#">Admin</a></li>
                                                                        <li>May 10, 2018</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="iq-detail-box mt-4">
                                                            <p class=" wow fadeInUp" data-wow-duration="1.0s">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Pri quas audiam virtute ut, case utamur fuisset eam ut, iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Legendos intellegam id usu, vide oporteat vix eu, id illud principes has. Nam tempor utamur gubergren no.</p>
                                                            <div class="special-text">
                                                                <i class="fas fa-quote-left"></i>
                                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                                            </div>
                                                            <div class="row mb-5 mt-5">
                                                                <div class="col-md-4">
                                                                    <img class="img-fluid" src="images/blog/blog-img1.jpg" alt="blog">
                            </div>
                                                                    <div class="col-md-4">
                                                                        <img class="img-fluid iq-rmt-20" src="images/blog/blog-img2.jpg" alt="blog">
                            </div>
                                                                        <div class="col-md-4 iq-rmt-20">
                                                                            <img class="img-fluid" src="images/blog/blog-img3.jpg" alt="blog">
                            </div>
                                                                        </div>
                                                                        <h3>Established fact that a reader will be</h3>
                                                                        <p class="wow fadeInUp" data-wow-duration="1.0s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                                                    </div>
                                                                    <div class="blog-commentbox">
                                                                        <div class="media info-block wow fadeInUp" data-wow-duration="1.0s">
                                                                            <img class="mr-3" src="images/testomonial/01.jpg" alt="image">
                                                                            <div class="media-body">
                                                                                <h5>Rinks Kevin</h5>
                                                                                <div class="iq-comment-metadata white"><a href="#"><i class="ion-ios-calendar-outline"></i>
                                <span>May 10, 2017 at 12:00 am</span>
                              </a>
                                                                                </div>
                                                                                <p class="mt-3 mb-0"> CEO &amp; It was popularised in the 1960s with the and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comments">
                                                                            <h3 class="wow fadeInUp" data-wow-duration="1.0s">Comments <small>/ 21</small></h3>
                                                                            <div class="iq-comment-list">
                                                                                <div class="media iq-comments-media wow fadeInUp" data-wow-duration="1.0s">
                                                                                    <img class="mr-3" src="images/testomonial/02.jpg" alt="image">
                                                                                    <div class="media-body">
                                                                                        <h5>Kevin Martin</h5>
                                                                                        <div class="iq-comment-metadata"><a href="#"><i class="ion-ios-calendar-outline"></i>
                                  <span>May 14, 2017 at 5:00 pm</span>
                                </a>
                                                                                        </div>
                                                                                        <a href="#" class="btn-black green">Reply</a>
                                                                                        <p class="mt-3 mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="media iq-comments-media wow fadeInUp" data-wow-duration="1.0s">
                                                                                    <img class="mr-3" src="images/testomonial/03.jpg" alt="image">
                                                                                    <div class="media-body">
                                                                                        <h5>Rinks Kevin</h5>
                                                                                        <div class="iq-comment-metadata"><a href="#"><i class="ion-ios-calendar-outline"></i>
                                <span>May 18, 2018 at 1:46 pm</span>
                              </a>
                                                                                        </div>
                                                                                        <a href="#" class="btn-black green">Reply</a>
                                                                                        <p class="mt-3 mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="media iq-comments-media wow fadeInUp" data-wow-duration="1.0s">
                                                                                    <img class="mr-3" src="images/testomonial/04.jpg" alt="image">
                                                                                    <div class="media-body">
                                                                                        <h5>Martin</h5>
                                                                                        <div class="iq-comment-metadata"><a href="#"><i class="ion-ios-calendar-outline"></i>
                              <span>May 21, 2017 at 2:26 pm</span>
                            </a>
                                                                                        </div>
                                                                                        <a href="#" class="btn-black green">Reply</a>
                                                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="blog-contact ">
                                                                            <h3 class="wow fadeInUp" data-wow-duration="1.0s">Post A Comment</h3>
                                                                            <form class="iq-contactbox">
                                                                                <div class="contact-form contact-box">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-4 col-sm-12">
                                                                                            <div class="form-group section-field wow fadeInUp" data-wow-duration="1.0s">
                                                                                                <label for="name">Name</label>
                                                                                                <input id="name" type="text" placeholder="Your Name*" name="name">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-4 col-sm-12">
                                                                                            <div class="form-group section-field wow fadeInUp" data-wow-duration="1.5s">
                                                                                                <label for="email">Email</label>
                                                                                                <input type="email" placeholder="Your Email*" name="email">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-4 col-sm-12">
                                                                                            <div class="form-group section-field wow fadeInUp" data-wow-duration="2.0s">
                                                                                                <label for="phone">Phone</label>
                                                                                                <input type="text" placeholder="Your No*" name="phone">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-12 col-sm-12">
                                                                                            <div class="form-group section-field textarea wow fadeInUp" data-wow-duration="2.5s">
                                                                                                <label for="Comment">Comment</label>
                                                                                                <textarea class="input-message" placeholder="Comment*" rows="5" name="message"></textarea>
                                                                                            </div>
                                                                                            <input type="hidden" name="action" value="sendEmail">
                                                                                            <button id="submit" name="submit" type="submit" value="Send" class="button pull-right wow fadeInUp" data-wow-duration="1.0s">Submit </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                </section>
                <!--=================================
Blog -->
            </div>
            <!--=================================
MAIN CONTENT -->
            <!--=================================
Clients -->
            <!-- Footer start-->
            <footer id="contact" class="iq-footerr main-bg fshap ">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-6 ">
                                <h4 class= "text-white  mb-3">Menu</h4>
                                <ul class="menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 iq-rmt-20">
                                <h4 class= "text-white  mb-3">Subscribe To Newsletter</h4>
                                <form class="form-inline mb-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control search-btn" id="inputPassword2" placeholder="Email">
                                    </div>
                                    <a href="JavaScript:Void(0);" class="button submit-btn">Submit</a>
                                </form>
                                <span class="text-white d-inline">Follow Us :</span>
                                <ul class="info-share d-inline d-flex">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="contact-bg">
                                    <h4 class= "text-white iq-rmt-30  mb-3">Address</h4>
                                    <ul class="iq-contact text-white">
                                        <li>
                                            <i class="fas fa-phone"></i>
                                            <p>+0123 456 789</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>xyz@gmail.com</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <p>Carol J. Stephens 1635 Franklin, Montgomery, AL 36104 USA</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="logo iq-rmt-30">
                                    <a href="index.html"><img src="images/logo.png" class="img-fluid" alt="img"></a>
                                    <p class="mt-3 text-white">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="mt-3 text-white link">Design By@ <a href="https://iqonicthemes.com/"> iqonictheme.com </a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- back-to-top -->
                <div id="back-to-top">
                    <a class="top" id="top" href="#top"><span>Scroll Up</span> <i class="ion-ios-arrow-thin-up"></i></a>
                </div>
                <!-- back-to-top End -->
            </footer>
            <!-- Footer End-->
            <!--=================================
Chatbot -->
            <div id="body">
                <div id="chat-circle" class="btn btn-raised">
                    <i class="ion-chatbubble-working"></i>
                </div>
                <div class="chat-box">
                    <div class="chat-box-header">
                        <h5 class="title">ChatBot</h5>
                        <span class="chat-box-toggle"><i class="ion-close-round"></i></span>
                    </div>
                    <div class="chat-box-body">
                        <div class="chat-box-overlay">
                        </div>
                        <div class="chat-logs">
                        </div>
                        <!--chat-log -->
                    </div>
                    <div class="chat-input">
                        <form>
                            <input type="text" id="chat-input" placeholder="Send a message..." />
                            <button type="submit" class="chat-submit" id="chat-submit"><i class="ion-ios-paperplane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!--=================================
Chatbot -->
            <!--=================================
Cookies -->
            <div id="cookie_div" class="align-items-center"> We use cookies to give you tailored experiences on our website.
                <a class="button grey text-right ml-3" href="#" role="button" id="cookie">Accept </a>
            </div>
            <!--=================================
Cookies -->
        <!-- Optional JavaScript -->
        <!-- jQuery first -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- popper -->
        <script src="js/popper.min.js"></script>
        <!-- bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- chatbot -->
        <script src="js/chatbot.js"></script>
        <!-- countdown -->
        <script src="js/countdown.js"></script>
        <!-- Magnific-popup JavaScript -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Wow -->
        <script src="js/wow.min.js"></script>
        <!-- jquery.countTo -->
        <script src="js/counto.js"></script>
        <!--custom -->
        <script src="js/custom.js"></script>
</body>

</html>
</div>