<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vizion-Al/ML-Data Analysis Responsive HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
      </div>
        </div>
        <!-- loading End -->
        <!--=================================
    MAIN CONTENT -->
        <div class="main-content iq-coming">
            <!--================================
      Login -->
           <section class="main-bg coming-height">
        <div class="text-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="big-text mt-lg-5 pt-lg-5">Coming Soon</div>
                <h5 class="iq-font-light mb-3 text-white">We are working very hard to give you the best experience possible!</h5>
                <ul id="countdown" class="mt-5">
                  <li><span class="days">00</span>
                  <p class="days_text">Days</p>
                </li>
                
                <li><span class="hours">00</span>
                <p class="hours_text">Hours</p>
              </li>
              
              <li><span class="minutes">00</span>
              <p class="minutes_text">Minutes</p>
            </li>
            
            <li><span class="seconds">00</span>
            <p class="seconds_text">Seconds</p>
          </li>
        </ul>
        <form class="p-0 d-flex justify-content-center">
          <div class="form-row align-items-center">
            <div class="col-auto p-0 mb-2">
              <input type="text" class="form-control subscription-email" id="inlineFormInput" placeholder="you@example.com">
            </div>
            <div class="col-auto p-0">
              <button type="submit" class="btn button mb-2 subscription-button">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</section>
            <!--================================
Login -->
        </div>
        <!--=================================
MAIN CONTENT  END-->
        <!-- Optional JavaScript -->
        <!-- jQuery first -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- popper -->
        <script src="js/popper.min.js"></script>
        <!-- bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- chatbot -->
        <script src="js/chatbot.js"></script>
        <!-- countdown -->
        <script src="js/countdown.js"></script>
        <!-- Magnific-popup JavaScript -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Wow -->
        <script src="js/wow.min.js"></script>
        <!-- jquery.countTo -->
        <script src="js/counto.js"></script>
        <!--custom -->
        <script src="js/custom.js"></script>
</body>

</html>
