<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vizion-Al/ML-Data Analysis Responsive HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <img src="images/loader.gif" alt="loder">
      </div>
        </div>
        <!-- loading End -->
        <!-- Header-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" class="img-fluid logo" alt="img">
                <img src="images/logo-white.png" class="img-fluid logo-white" alt="img">
              </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about-us.html">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="features.html">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Contact Us</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pages
                    </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="login.html">Login</a>
                                            <a class="dropdown-item" href="register.html">Register</a>
                                            <a class="dropdown-item" href="pricing.html">Pricing</a>
                                            <a class="dropdown-item" href="blog.html">Blog</a>
                                            <a class="dropdown-item" href="blog-details.html">Blog Details</a>
                                            <a class="dropdown-item" href="feedback.html">Feedback</a>
                                            <a class="dropdown-item" href="404-error.html">404 Error</a>
                                            <a class="dropdown-item" href="comingsoon.html">Coming Soon</a>
                                            <a class="dropdown-item active" href="privacy-policy.html">Privacy-Policy</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header-->
        <!-- About -->
        <section class="iq-breadcrumb-five main-bg">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="mb-0">
                            <h2 class="title">Privacy-Policy</h2>
                            <nav aria-label="breadcrumb" class="">
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="fa fa-home" aria-hidden="true"></i>Home
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">Privacy-Policy</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- About End -->
            <!--=================================
    MAIN CONTENT -->
            <div class="main-content">
                <section class="privacy-policy">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mt-2">
                                    <h4 class="iq-tw-7">Terms of Use - Vizion Installment</h4>
                                    <p>Nulla enim justo, elementum iaculis commodo et, feugiat fermentum quam. In quis lorem tempor, porta nunc a, malesuada dui. Integer venenatis leo sit amet mi tincidunt, sit amet pharetra mauris efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent vestibulum eros vitae magna iaculis.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">General</h4>
                                    <p>Suspendisse eu neque sit amet mi fermentum viverra. Nullam venenatis feugiat odio nec tincidunt. Suspendisse molestie ipsum ac molestie maximus. </p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Permitted Use and Restrictions</h4>
                                    <p>Sed id tellus orci. Donec congue tellus dignissim molestie fermentum. Duis cursus in mi id cursus. Sed egestas mi quis semper feugiat. Donec laoreet porta velit. Duis eros orci, lacinia a mollis quis, vestibulum ut elit. Sed vitae justo sapien. Duis ultricies ante non tortor sollicitudin, vel mattis lacus venenatis. Nam non tincidunt mauris, a tincidunt diam. Sed pulvinar lorem pellentesque faucibus ornare. Donec eu dui urna. Cras porta porta enim, nec congue tellus hendrerit vitae. Fusce rhoncus vel lorem.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Your Access to the Site</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Accounts & Passwords</h4>
                                    <p>Nunc quam dui, aliquam ut lacus non, congue rutrum tortor. Maecenas mi quam, lacinia sed tortor nec, cursus accumsan lorem. Pellentesque a quam non nibh tincidunt congue.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Security</h4>
                                    <p>Phasellus semper malesuada arcu a posuere. Vestibulum tortor nisi, pellentesque eget nibh tristique, scelerisque bibendum ex. Integer malesuada bibendum ante ut molestie. Praesent sed ex laoreet, cursus justo vel, sodales quam. Nam a odio eu ex pulvinar euismod.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Unauthorized Use of the Site</h4>
                                    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">No Financial Advice Provided</h4>
                                    <p>Fusce rutrum mauris eros, at iaculis orci vestibulum non. Morbi sit amet blandit tortor. Integer quis nisi eu augue maximus tincidunt ut vel enim. Ut malesuada massa nec sollicitudin dapibus.</p>
                                </div>
                                <div class="mt-5">
                                    <h4 class="iq-tw-7">Cookies</h4>
                                    <p>Vestibulum laoreet vehicula eros, et rutrum purus auctor et. Praesent rutrum erat ut nisi hendrerit, vitae dapibus mi blandit. Fusce eu ultricies tortor. Integer sed finibus nulla, nec iaculis ex. Suspendisse lacinia magna sit amet turpis rhoncus, a accumsan ex porttitor. Donec at quam vitae enim maximus accumsan. Curabitur nec posuere turpis. Curabitur a metus gravida, fermentum nisi id, rhoncus nulla. Pellentesque at erat sed nibh tempus mollis. Quisque tempor viverra erat, quis semper orci imperdiet a. Sed eu laoreet lacus, eget bibendum dolor. Praesent luctus justo non molestie rutrum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--=================================
    Main Content -->
            <!-- Footer start-->
            <footer id="contact" class="iq-footerr main-bg fshap ">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-6 ">
                                <h4 class= "text-white  mb-3">Menu</h4>
                                <ul class="menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 iq-rmt-20">
                                <h4 class= "text-white  mb-3">Subscribe To Newsletter</h4>
                                <form class="form-inline mb-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control search-btn" id="inputPassword2" placeholder="Email">
                                    </div>
                                    <a href="JavaScript:Void(0);" class="button submit-btn">Submit</a>
                                </form>
                                <span class="text-white d-inline">Follow Us :</span>
                                <ul class="info-share d-inline d-flex">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="contact-bg">
                                    <h4 class= "text-white iq-rmt-30  mb-3">Address</h4>
                                    <ul class="iq-contact text-white">
                                        <li>
                                            <i class="fas fa-phone"></i>
                                            <p>+0123 456 789</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>xyz@gmail.com</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <p>Carol J. Stephens 1635 Franklin, Montgomery, AL 36104 USA</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="logo iq-rmt-30">
                                    <a href="index.html"><img src="images/logo.png" class="img-fluid" alt="img"></a>
                                    <p class="mt-3 text-white">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="mt-3 text-white link">Design By@ <a href="https://iqonicthemes.com/"> iqonictheme.com </a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- back-to-top -->
                <div id="back-to-top">
                    <a class="top" id="top" href="#top"><span>Scroll Up</span> <i class="ion-ios-arrow-thin-up"></i></a>
                </div>
                <!-- back-to-top End -->
            </footer>
            <!-- Footer End-->
            <!--=================================
    Chatbot -->
            <div id="body">
                <div id="chat-circle" class="btn btn-raised">
                    <i class="ion-chatbubble-working"></i>
                </div>
                <div class="chat-box">
                    <div class="chat-box-header">
                        <h5 class="title">ChatBot</h5>
                        <span class="chat-box-toggle"><i class="ion-close-round"></i></span>
                    </div>
                    <div class="chat-box-body">
                        <div class="chat-box-overlay">
                        </div>
                        <div class="chat-logs">
                        </div>
                        <!--chat-log -->
                    </div>
                    <div class="chat-input">
                        <form>
                            <input type="text" id="chat-input" placeholder="Send a message..." />
                            <button type="submit" class="chat-submit" id="chat-submit"><i class="ion-ios-paperplane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <!--=================================
      Chatbot -->
            <!--=================================
      Cookies -->
            <div id="cookie_div" class="align-items-center"> We use cookies to give you tailored experiences on our website.
                <a class="button grey text-right ml-3" href="#" role="button" id="cookie">Accept </a>
            </div>
            <!--=================================
      Cookies -->
        <!-- Optional JavaScript -->
        <!-- jQuery first -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- popper -->
        <script src="js/popper.min.js"></script>
        <!-- bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- chatbot -->
        <script src="js/chatbot.js"></script>
        <!-- countdown -->
        <script src="js/countdown.js"></script>
        <!-- Magnific-popup JavaScript -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Wow -->
        <script src="js/wow.min.js"></script>
        <!-- jquery.countTo -->
        <script src="js/counto.js"></script>
        <!--custom -->
        <script src="js/custom.js"></script>
</body>

</html>